.App {
  text-align: center;
  display: block;
  margin: 10 auto;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  margin: 5px;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
}

button {
  font-size: 1.5rem;
}

li {
  text-transform: capitalize;
}

.loading {
  opacity: 0.5;
  font-style: italic;
}

.error {
  border: red 1px solid;
}

.flag {
    width: 36
}
