.App {
  display: absolute;
  width: 100%;
  margin: 20px 30ch 20px;  
  text-align: left;
}

div {
  margin: 1ch;
}

button {
  font-size: 1.5rem;
}

li {
  text-transform: capitalize;
}

.loading {
  opacity: 0.5;
  font-style: italic;
}

.error {
  border: red 1px solid;
}

.container {
  display: grid;
}

.list-item {
  margin-left: -2ch;
}
